version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

  backend:
    image: hemantdeshwal19/crud-backend:latest
    container_name: backend
    restart: always
    environment:
      - PORT=8080
      - MONGODB_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    networks:
      - app-net

  frontend:
    image: hemantdeshwal19/crud-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"
    networks:
      - app-net

networks:
  app-net:

volumes:
  mongo_data:

